
        <h1> Pagina</h1>

        <p>titulo: <p id="idTitulo"></p></p>
        
        <p>conteudo: <p id="idConteudo"></p></p>
        <button type="button" onclick="alterar()">alterar de novo</button>