
        <!--h1> Pagina</h1>

        <p>titulo: <p id="idTitulok"></p></p>
        
        <p>conteudo: <p id="idConteudo"></p></p>
        <button type="button" onclick="alterar()">alterar de novo</button-->

<table>
<tr>
<th>____________________________________P&OacuteXIMO____________________________________</th>
<th>MÁQUINA</th>
</tr>
<tr>
<td id="idNome1" ></td>
<td id="idPc1"></td>
</tr>
<tr>
<td id="idNome2" ></td>
<td id="idPc2"></td>
</tr>
<tr>
<td id="idNome3" ></td>
<td id="idPc3"></td>
</tr>
<tr>
<td id="idNome4" ></td>
<td id="idPc4"></td>
</tr>
<tr>
<td id="idNome5" ></td>
<td id="idPc5"></td>
</tr>
</table>