
        <h1> Pagina</h1>

        <p>titulo: <p id="idTitulok"></p></p>
        
        <p>conteudo: <p id="idConteudo"></p></p>
        <button type="button" onclick="alterar()">alterar de novo</button>

        <table>
<tr>
<th>nome</th>
<th>maquina</th>
</tr>
<tr>
<td id="idNome1" ></td>
<td id="idPc1">Trombone</td>
</tr>
</table>