
        <div class="container" align="center">
        <form action="/redir" method="post">       
            <h1>Usuário</h1>
            <input type ="text" name="usuario">
            <!--button type ="submit" name="enviar" value= "enviar"> enviar </button-->
        <!--/form ><br-->
    </div>
        <div class="container" align="center">
        <!--form action="/redir" method="post"-->
        <h1>Computador</h1>
    
        <input type = "radio" name="pc" value="pc01"> 01
        <input type = "radio" name="pc" value="pc02"> 02
        <input type = "radio" name="pc" value="pc03"> 03
        <input type = "radio" name="pc" value="pc04"> 04
        <input type = "radio" name="pc" value="pc05"> 05<br>
        <input type = "radio" name="pc" value="pc06"> 06
        <input type = "radio" name="pc" value="pc07"> 07
        <input type = "radio" name="pc" value="pc08"> 08
        <input type = "radio" name="pc" value="pc09"> 09
        <input type = "radio" name="pc" value="pc10"> 10<br>
        <input type = "radio" name="pc" value="pc11"> 11
        <input type = "radio" name="pc" value="pc12"> 12
        <input type = "radio" name="pc" value="pc13"> 13
        <input type = "radio" name="pc" value="pc14"> 14
        <input type = "radio" name="pc" value="pc15"> 15<br>
        <input type = "radio" name="pc" value="pc16"> 16
        <input type = "radio" name="pc" value="pc17"> 17
        <input type = "radio" name="pc" value="pc18"> 18
        <input type = "radio" name="pc" value="pc19"> 19
        <input type = "radio" name="pc" value="pc20"> 20<br>
        <input type = "radio" name="pc" value="pc21"> 21
        <input type = "radio" name="pc" value="pc22"> 22
        <input type = "radio" name="pc" value="pc23"> 23
        <input type = "radio" name="pc" value="pc24"> 24
        <input type = "radio" name="pc" value="pc25"> 25<br>
        <input type = "radio" name="pc" value="pc26"> 26
        <input type = "radio" name="pc" value="pc27"> 27
        <input type = "radio" name="pc" value="pc28"> 28<br><br>
        </div>
        <div class="container" align="center">
        <!--input type ="submit" name="enviar" value= "enviar"-->
        <button type ="submit" name="enviar" value= "enviar"> enviar </button>
    </div>
        
    </form>

    <object width="425" height="344" data="https://www.youtube.com/watch?v=uFFNxGxfeTs"></object>