



<p id="idTitulo">teste</p>
<h1>pagina entrando</h1>

<p id="idQueIdentificaP">p e aqui</p>
<button type="button" onclick="alterar()">alterar de novo</button>

        <script type="text/javascript" src="../html/mudartexto.js"> </script>